html{
    height:100%;
}
body {
    margin: 0;
    background-color: #f5f3f3;
    min-height: 100%;
    display: flex;
    flex-direction:column 
   
}
.content{
}
.table {
    position:absolute;
    top:640px;    
    width: 100%;  
    color: #212529;
    margin-bottom:40px; 
    
}


    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        border-color:#f68332;
        font-size:20px;    
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #f68332;
    }

    .table tbody + tbody {
        border-top: 2px solid #f68332;
    }

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #f68332;
}

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
    }

    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 2px;
    }

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #b8daff;
}

    .table-primary th,
    .table-primary td,
    .table-primary thead th,
    .table-primary tbody + tbody {
        border-color: #7abaff;
    }

.table-hover .table-primary:hover {
    background-color: #9fcdff;
}

    .table-hover .table-primary:hover > td,
    .table-hover .table-primary:hover > th {
        background-color: #9fcdff;
    }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
    background-color: #d6d8db;
}

    .table-secondary th,
    .table-secondary td,
    .table-secondary thead th,
    .table-secondary tbody + tbody {
        border-color: #b3b7bb;
    }

.table-hover .table-secondary:hover {
    background-color: #c8cbcf;
}

    .table-hover .table-secondary:hover > td,
    .table-hover .table-secondary:hover > th {
        background-color: #c8cbcf;
    }

.table-success,
.table-success > th,
.table-success > td {
    background-color: #c3e6cb;
}

    .table-success th,
    .table-success td,
    .table-success thead th,
    .table-success tbody + tbody {
        border-color: #8fd19e;
    }

.table-hover .table-success:hover {
    background-color: #b1dfbb;
}

    .table-hover .table-success:hover > td,
    .table-hover .table-success:hover > th {
        background-color: #b1dfbb;
    }

.table-info,
.table-info > th,
.table-info > td {
    background-color: #bee5eb;
}

    .table-info th,
    .table-info td,
    .table-info thead th,
    .table-info tbody + tbody {
        border-color: #86cfda;
    }

.table-hover .table-info:hover {
    background-color: #abdde5;
}

    .table-hover .table-info:hover > td,
    .table-hover .table-info:hover > th {
        background-color: #abdde5;
    }

.table-warning,
.table-warning > th,
.table-warning > td {
    background-color: #ffeeba;
}

    .table-warning th,
    .table-warning td,
    .table-warning thead th,
    .table-warning tbody + tbody {
        border-color: #ffdf7e;
    }

.table-hover .table-warning:hover {
    background-color: #ffe8a1;
}

    .table-hover .table-warning:hover > td,
    .table-hover .table-warning:hover > th {
        background-color: #ffe8a1;
    }

.table-danger,
.table-danger > th,
.table-danger > td {
    background-color: #f5c6cb;
}

    .table-danger th,
    .table-danger td,
    .table-danger thead th,
    .table-danger tbody + tbody {
        border-color: #ed969e;
    }

.table-hover .table-danger:hover {
    background-color: #f1b0b7;
}

    .table-hover .table-danger:hover > td,
    .table-hover .table-danger:hover > th {
        background-color: #f1b0b7;
    }

.table-light,
.table-light > th,
.table-light > td {
    background-color: #fdfdfe;
}

    .table-light th,
    .table-light td,
    .table-light thead th,
    .table-light tbody + tbody {
        border-color: #fbfcfc;
    }

.table-hover .table-light:hover {
    background-color: #ececf6;
}

    .table-hover .table-light:hover > td,
    .table-hover .table-light:hover > th {
        background-color: #ececf6;
    }

.table-dark,
.table-dark > th,
.table-dark > td {
    background-color: #c6c8ca;
}

    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
        border-color: #95999c;
    }

.table-hover .table-dark:hover {
    background-color: #b9bbbe;
}

    .table-hover .table-dark:hover > td,
    .table-hover .table-dark:hover > th {
        background-color: #b9bbbe;
    }

.table-active,
.table-active > th,
.table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

    .table-hover .table-active:hover > td,
    .table-hover .table-active:hover > th {
        background-color: rgba(0, 0, 0, 0.075);
    }

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.table-dark {
    color: #fff;
    background-color: #343a40;
}

    .table-dark th,
    .table-dark td,
    .table-dark thead th {
        border-color: #454d55;
    }

    .table-dark.table-bordered {
        border: 0;
    }

    .table-dark.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .table-dark.table-hover tbody tr:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.075);
    }

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-responsive-sm > .table-bordered {
            border: 0;
        }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-responsive-md > .table-bordered {
            border: 0;
        }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-responsive-lg > .table-bordered {
            border: 0;
        }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-responsive-xl > .table-bordered {
            border: 0;
        }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

    .table-responsive > .table-bordered {
        border: 0;
    }
.pb-3,
.py-3 {    
    padding-bottom: 1rem !important;
}
.buttons {
    display: inline;
    color: #000;
    text-decoration: none;
    margin-left: 10px;
    transition: color 3000ms ease
}
.buttons:hover{
    color:#04823f;
    transition: color 500ms ease
}

.row {
    display: -ms-flexbox;
    display: flex;
    
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.videos {
    position:absolute;
    top: 950px;
    left:170px;
    background-color: #f68332;
    border-color: rgb(193, 40, 40)
}
.navbar1 {
    margin:0;
    place-items: center;
    position: sticky;
    top: 0;
    display: flex;
    gap:1.5rem;
    background-color: #fff;
    height: 95px;
}

.nav-item2 {
    list-style: none;
    font-size: 20px;
    height: 30px;
   
}

.nav-link1 {
    position: relative;
    color:#000;
    text-decoration:none
}

    .nav-link1::before {
        content: "";
        height: 3px;
        position: absolute;
        bottom: 0;
        background-color: #04823f;
        width: 100%;
        transform: scaleX(0);
        transition: transform 300ms ease;
    }

.nav-item2:hover .nav-link1::before {
    color:#000;
    transform: scaleX(1);
    transition: transform 500ms ease;
}

.nav-item2:hover {  
    cursor: pointer;
}
.create-new{
position:absolute;
top:580px;
left:25px;
}
    .create-new a {
        text-decoration: none;
        color: #000;
        transition: color 300ms ease;
        font-size:1.3em
           
    }
.create-new a:hover {
    color: #04823f;
    transition: color 500ms ease
}
.nav-item1 {
    list-style: none;
}

.nav-link-b1:hover {
    cursor: pointer
}
/* feojfeojeojeofj*/
.slider {
    margin-top:20px;
    margin-left:200px;
    width: 1100px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;  
}
.slides {
    width: 500%;
    height: 600px;
    display: flex;
}

    .slides input {
        display: none;
    }

.slide {
    width: 20%;
    transition: 2s;
}

    .slide img {
        width: 1100px;
        height: 600px;
    }

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 1100px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #04823f;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
}

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background-color: #04823f;
    }

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1100px;
    justify-content: center;
    margin-top: 560px;
}

    .navigation-auto div {
        border: 2px solid #04823f;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

        .navigation-auto div:not(:last-child) {
            margin-right: 40px;
        }

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #04823f;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #04823f;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #04823f;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #04823f;
}

.main {
    position:absolute;
    top:800px;
    left:120px;
    height:40vh;
    text-align:center;
    max-width:120ch;
    font-size:1.3em;
    
}

.Uchastiq {
    display: flex;
}

.img {
    position: relative;
    top: 100px;
    width: 65%;
    margin-left: 40px;
}

#logoo {
    width: 100px
}

#nav-item1 {
    position: relative;
    display:inline;
    margin-left:20px;
    left: 200px
}

.nav1 {
    position: absolute;
    background-color: #f68332;
    width:1500px;
    height: 91%;
   
}
.inf {
    position: absolute;
    background-color: #f68332;
    width: 1500px;
    height: 61%;
   
}

.title {
    margin-left: 150px;
}

#title1 {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
    margin-top: 70px;
}

#title2 {
    font-size: 4.8em;
    margin-bottom: 0;
    margin-top: 0
}

.text {
    font-size: 1.2em;
    margin-left: 150px;
}

/*.news {
    position: relative;
    top: 300px;
    left: auto;
    right:auto;
    display: flex;
    gap: 3em;
}

#news-text {
    font-size: 1.2em;
    margin-bottom: 0;
}

#images-1 {
    background-image: url("../images/Участие.jpg" );
    background-size: cover;
    padding: 15rem 0 0;
    padding-left: 20px;
    max-width: 45ch;
    color: #fff;
    overflow: hidden;
    transition: transform 300ms ease
}

    #images-1:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

        #images-1:hover #images-2 {
            transform: translateY(0)
        }

#images-2 {
    transform: translateY(110%);
    transition: transform 500ms ease
}

#news-bilet {
    margin-top: 0;
}

#images-3 {
    background-image: url("../images/рози.jpg" );
    background-size: cover;
    padding: 15rem 0 0;
    padding-left: 20px;
    max-width: 45ch;
    color: #fff;
    overflow: hidden;
    transition: transform 300ms ease
}

    #images-3:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

        #images-3:hover #images-4 {
            transform: translateY(0)
        }

#images-4 {
    transform: translateY(80%);
    transition: transform 500ms ease
}

#news-bilet {
    margin-top: 0;
}

#images-5 {
    background-image: url("../images/Полша.jpg" );
    background-size: cover;
    padding: 15rem 0 0;
    padding-left: 40px;
    max-width: 45ch;
    color: #fff;
    overflow: hidden;
    transition: transform 300ms ease
}

    #images-5:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

        #images-5:hover #images-6 {
            transform: translateY(0)
        }

#images-6 {
    transform: translateY(85%);
    transition: transform 500ms ease
}

#news-bilet {
    margin-top: 0;
}*/
.gallery{    
    position:absolute;
    top:650px;   
    left:840px;
    display:flex;
    flex-wrap:wrap;   
    margin:10px 15px;
}
.gallery img{
    flex: 1 1 33%;
    transition:1s;
    padding:15px;
    width:150px
}
.gallery img:hover{
    filter:grayscale(100%);
    transform:scale(1.1)
}
#zaglavie {
    color: #000;
    position: absolute;
    top: 520px;
    left: 1000px;
    font-size: 4.0em;   
}  
#title3{
    margin-bottom:0;
    padding-left:2px;
}
#title4 {
    font-size: 3em;
    margin-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text-gallery{
    max-width:54ch;
    font-size:1.3em;
    margin:0;
}
.inf2{
    position:absolute;
    top:640px; 
    left:100px
}

.contacts {
    position: relative;
    top: 550px; 
    left:290px;    
}
.contacts-adres { 
    position:absolute;
    max-width:60ch;
   
}
.contacts-follow{  
    position:absolute;
    left:600px;
}
.sochals {
    list-style: none;
    font-size: 2.5em;
    display: flex;
    padding: 0;
    gap: 1.5em;
  
}

    .sochals a {
        color: #000;
    }
        .sochals a :hover {
            color: #04823f;
            transition: color  .6s;
        }
   
.contacts-text {
    font-size: 1.5em;
}
footer{
    height:55px;
    background-color:#f68332;  
    text-align:center;
    width:1500px;
    padding-top:35px;
 }  
.footer1{
  text-decoration:none;
  color:#000;  
  font-size:1.1em
}
#Contacts-footer{
    position:absolute;
    top:900px
}
#Sponsors-footer {
    position: absolute;
    top: 900px
}
#Messages-footer {
    position: absolute;
    top: 1000px
}
#Repertoire-footer {
    position: absolute;
    top: 2200px
}
#News-footer {
    position: absolute;
    top: 1000px
}
#Trophy-footer {
    position: absolute;
    top: 900px
}
#Galery-footer {
    position: absolute;
    top: 1200px
}
#Home-footer {
    position: absolute;
    top: 1100px
}





