<div class="inf ">
    <h2 id="title1" class="title">ФА Розова Долина</h2>
    <h1 id="title2" class="title">Контакти</h1>
    <p class="text">За връзка с нас може да изпозвате предоставените. <br />Помощни средства</p>
</div>
<div class="contacts">
    <div class="contacts-adres">
        <h1>Адрес и начин за връзка </h1>
        <p class="contacts-text">
           Място на провеждане на репетиции:<br />
           НЧ "Васил Левски 1861г."-гр.Карлово<br />
           ул. "П. Събев"<br />
           тел. - 0895965240<br />
        </p>
    </div>
    <div class="contacts-follow">
        <h1>Последвайте ни</h1>
        <ul class="sochals">
            <li><a href="https://www.facebook.com/karlovofolkensemble"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://instagram.com/rozovadolina.ensemble?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC8ik0M-1BTZ9Kf3A-M5plVw/videos"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
</div>
<footer id="Contacts-footer">
    <a class="footer1" asp-area="" asp-controller="Home" asp-action="Contacts"> &copy; 2022 -Розова Долина-Контакти</a>
</footer>
