<div class="inf ">
    <h2 id="title1" class="title">ФА Розова Долина</h2>
    <h1 id="title2" class="title">Галерия</h1>
    <p class="text">В тази страница ще намерите актуални кадри на ансамбъла. <br />От различни участия </p>
</div>
<div class="inf2">
    <h1 id="title3">Мисия</h1>
    <h1 id="title4">Фолклор и съвремие</h1>
   
        <p class="text-gallery">
            Ансамбълът има задача да запази и развие народното песенно и музикално-танцово изкуство от всички
            фолклорни области на България. Да съхрани фолклорното богатство, бит, култура и самочувствие на
            българския народ. Да повишава родолюбието и българщината към подрастващите. Да стане контрагент на
            културна комуникация чрез концерти на живо и с представянето си пред електронни медии – национални
            и местни, задоволявайки духовните потребности на по-широк кръг от социални групи на населението,
            населяващи по-отдалечени краища на страната. Да се стреми към приобщаване към европейските културни
            ценности със своята уникалност,като част от европейската цивилизация.
        </p>
        
   
</div>
<h1 id="zaglavie">Снимки</h1>
<div class="gallery">
    
    <a href="~/images/Images-gallery/final-rozi.jpg" data-lightbox="mygallery"><img src="~/images/Images-gallery/final-rozi-small.jpg" /></a>
    <a href="~/images/Images-gallery/brane-na-rozi.jpg" data-lightbox="mygallery"><img src="~/images/Images-gallery/brane-na-rozi-small.jpg" /></a>
    <a href="~/images/Images-gallery/karuca1.jpg"data-lightbox="mygallery"><img src="~/images/Images-gallery/karuca1-small.jpg" /></a>
    <a href="~/images/Images-gallery/kopanica.jpg"data-lightbox="mygallery"><img src="~/images/Images-gallery/kopanica-small.jpg" /></a>
    <a href="~/images/Images-gallery/Maria.jpg"data-lightbox="mygallery"><img src="~/images/Images-gallery/Maria-small.jpg" /></a>
    <a href="~/images/Images-gallery/Rozi.JPG"data-lightbox="mygallery"><img src="~/images/Images-gallery/Rozi-small.jpg" /></a>
    <a href="~/images/Images-gallery/shopski.jpg"data-lightbox="mygallery"><img src="~/images/Images-gallery/shopski-small.jpg" /></a>
    <a href="~/images/Images-gallery/slivenski.jpg"data-lightbox="mygallery"><img src="~/images/Images-gallery/slivenski-small.jpg" /></a>
    <a href="~/images/Images-gallery/slivenski1.jpg"data-lightbox="mygallery"><img src="~/images/Images-gallery/slivenski1-small.jpg" /></a>
    @*<a href="~/images/Images-gallery/slivenski2.jpg"data-lightbox="mygallery"><img src="~/images/Images-gallery/slivenski2-small.jpg" /></a>*@
</div>


