<div class="inf ">
    <h2 id="title1" class="title">ФА Розова Долина</h2>
    <h1 id="title2" class="title">Спонсори</h1>
    <p class="text">Благодарение на следните компании ние успяхме да се развием. <br />До тези височини </p>
</div>